uni-page-body{
	height: 100% !important;
}

.formBox{
	width: 80%;
}

.formItem{
	padding: 4px 0;
	display: flex;
	align-items: center;
	.u-icon{
		display: block;
		margin-right: 20rpx;
	}
	.uni-input-placeholder{
		color: #dedede !important;
		font-size: 14px;
	}
	.itemRight{
		flex: 1;
		position: relative;
		// padding-bottom: 10rpx;
	}
}

uni-app, uni-page-head{
	background-color: #eea618;
}
.flex{
	display: flex;
}
.items-end{
	align-items: end;
}

.items-start{
	align-items: start !important;
}

.justify-between{
	justify-content: space-between;
}
.gap-20{
	gap: 20px;
}
.color-c2a9bb{
	color: #b09aaa;
}

.loading-more {
	text-align: center;
	padding: 10px;
	color: #666;
}

.u-transition {
	display: flex;
	align-items: center;
	justify-content: center;

	.overlayBox {
		width: 70%;
		height: auto;
		background-color: #FFF;
		padding: 16px;
		border-radius: 8px;

		.title {
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			color: #30313D;
			margin-bottom: 40rpx;
		}

		.serialNumber {
			font-size: 16px;
			color: #30313D;
			line-height: 30px;

			.protocolText {
				color: #b9dd04;
			}
		}

		.itemRight {
			padding: 8px 0;
			border-bottom: solid 1px #dadbde;
			box-sizing: border-box;
		}

		.limit {
			padding: 8px 0;
			text-align: right;
			color: #eea618;
		}

		.btns, .commitBox {
			margin-top: 40rpx;
			text-align: center;
			display: flex;
			gap: 16px;
			justify-content: center;
			.commit, .cancel {
				display: inline-block;
				padding: 8px 40px;
				background-color: #eea618;
				color: #FFF;
				border-radius: 19px;
			}
			
			.cancel{
				background-color: #c7c7c7;
			}
		}
	}
}

.settingItem {
	height: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	border-bottom: solid 1px #d6d7d9;
	padding: 0px;
	box-sizing: border-box;

	.left {
		display: flex;
		align-items: end;

		image {
			width: 24px;
			height: 24px;
			margin-right: 8px;
		}
	}
}

.mr-8{
	margin-right: 8px;
}

.commonDataItem {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 14px;
	color: #8c8c8c;

	.leftBox {
		width: 3px;
		height: auto;
		background-color: #eea618;
	}

	.rightInfo {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}


.tabbar {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 22.8vw;
	background-color: #eea618;
	display: flex;
	justify-content: center;
	align-items: center;

	.contentBox {
		width: 90%;
		height: 17.6vw;
		background-color: #FFF;
		border-radius: 8.8vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		padding: 0 6vw;

		.tab-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: #30313D;
			font-size: 3.733vw;

			.icon {
				width: 6.5vw;
				height: 6.5vw;
				margin-bottom: 1.07vw;
			}
		}

		.active {
			color: #eea618;
		}
	}
}